.header {
  padding-inline: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(78, 76, 76);
}
.headerLogo {
  font-size: clamp(14px, 4vw, 26px);
  font-weight: 700;
}
.headerList {
  display: flex;
}
.headerLink {
  padding: clamp(10px, 4vw, 20px);
  font-size: clamp(14px, 4vw, 20px);
  transition: all 250ms ease-in-out;
  &:hover {
    scale: 1.05;
    background-color: rgb(66, 62, 62);
  }
}
